.CartOverlay {
  position: absolute;
  width: 325px;
  height: fit-content;
  left: 72rem;
  top: 5rem;
  z-index: 99;
  padding: 1.5rem;
  background-color: #fff;
  display: none;
}

.active {
  display: block !important;
}

.bag {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.ov-cart-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.ov-extras {
  margin-top: 1.5rem;
}

.ov-total {
  font-weight: 500;
  margin-top: 1rem;
}

.ov-total > strong {
  margin-left: 0.5rem;
}

.ov-item-brand {
  display: none;
}

.ov-item-name {
  width: 6rem;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0.5rem;
}

.ov-item-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.ov-attr-label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.ov-item-sizes,
.attr-con {
  display: inline-block;
}

.ov-mid {
  height: 24px;
  min-width: 24px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  text-align: center;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
}

.ov-item-rep {
  display: flex;
}

.ov-amount-manip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ov-amount-inc,
.ov-amount-dec {
  height: 24px;
  width: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  text-align: center;
}

.ov-item-amount {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  margin: 0.55rem;
}

.ov-item-img {
  height: 9.5rem;
  width: 8rem;
  margin-left: 0.5rem;
}

.ov-item-img > img {
  height: inherit;
  width: inherit;
}

.ov-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.ov-view {
  width: 140px;
  height: 43px;
  background-color: #fff;
  border: 1px solid #1d1f22;
}

.ov-checkout {
  width: 140px;
  height: 43px;
  color: #fff;
  background-color: #5ece7b;
  border: none;
}

/* media queries max width 1400 */
@media (max-width: 1400px) {
  .CartOverlay {
    left: 59rem;
  }
}
