.PDP {
  display: flex;
  padding-top: 3rem;
  margin-top: 8rem;
  margin: 6rem;
}

.small-imgs {
  height: 6.5rem;
  width: 6rem;
  margin-right: 1rem;
  border: 1px solid #1d1f22;
}

.big-img {
  height: 38rem;
  width: 35rem;
  margin-right: 6rem;
  margin-left: 2rem;
  border: 1px solid #1d1f22;
}

.desc {
  width: 22rem;
}

.pdp-brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 1rem;
}

.pdp-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 3rem;
}

.pdp-sizes > span {
  display: block;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 1rem;
}

.pdp-mid,
.pdp-small {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #1d1f22;
  padding: 2rem;
  margin-bottom: 1rem;
}

.pdp-mid {
  margin-left: 1rem;
}

.pdp-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.pdp-price > span {
  font-family: "Roboto Condensed";
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 1rem;
}

.pdp-btn {
  margin-top: 2.5rem;
}

.pdp-btn > button {
  color: #fff;
  background-color: #5ece7b;
  height: 52px;
  width: 21.5rem;
  border: none;
}

.pdp-desc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  margin-top: 2.5rem;
}
