header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

nav {
  width: 12rem;
  position: relative;
  top: 1rem;
  right: 16.5rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
  list-style: none;
}

.brand-logo {
  position: relative;
  top: 1.5rem;
  right: 3.5rem;
}

.cart-div {
  display: flex;
  width: 5rem;
  justify-content: space-between;
  position: relative;
  top: 1.5rem;
  left: 14rem;
}

.cart {
  position: relative;
  top: 0.3rem;
}
